<footer style="text-align: center; padding: 20px; background-color: black; color: white;">

    {{ site.title }}/{{ page.permalink_name | replace: "/", "" | replace: " ", "-" }}
    <br><br>
    
    <!-- Icone per Github, LinkedIn e Gmail -->
    <div style="display: flex; justify-content: center; gap: 20px; align-items: center;">
      {% if site.scholar_useranme and site.scholar_useranme != "" %}
        <a href="https://scholar.google.com/citations?user={{ site.scholar_username }}" style="color: white; text-decoration: none;">
          <img src="https://cdn-icons-png.flaticon.com/512/4942/4942174.png" alt="Email" style="width: 30px; height: 30px; filter: invert(1);">
        </a>
      {% endif %}
      {% if site.orcid_useranme and site.orcid_useranme != "" %}
        <a href="https://orcid.org/{{ site.orcid_username }}" style="color: white; text-decoration: none;">
          <img src="https://cdn-icons-png.flaticon.com/512/5584/5584501.png" alt="Orcid" style="width: 30px; height: 30px; filter: invert(1);">
        </a>
      {% endif %}
      {% if site.github_username and site.github_username != "" %}
        <a href="https://github.com/{{ site.github_username }}" target="_blank" style="color: inherit; text-decoration: none;">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" style="width: 30px; height: 30px;  filter: invert(1);">
        </a>
      {% endif %}
      {% if site.linkedin_username and site.linkedin_username != "" %}
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" style="color: white; text-decoration: none;">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 30px; height: 30px;">
        </a>
      {% endif %}
      {% if site.email and site.email != "" %}
        <a href="mailto:{{ site.email }}" style="color: inherit; text-decoration: none;">
          <img src="https://cdn-icons-png.flaticon.com/512/281/281769.png" alt="Email" style="width: 30px; height: 30px;">
        </a>
      {% endif %}
      
    </div>
  
  </footer>
  